@keyframes ldio-zp7vkd482u {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-zp7vkd482u div {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 8px solid #00bdd3;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-zp7vkd482u div {
    animation: ldio-zp7vkd482u 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-kf2rvmi9pl {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-zp7vkd482u {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-zp7vkd482u div {
    box-sizing: content-box;
}