@import '../../style/variables.scss';

.header {
    background-color: $color-white;
    
    .container {
        height: $base * 15;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        cursor: pointer;
    }

    &__buttons {
        button {
            margin-left: $base * 2.5;
        }
    }
}
