@import './variables.scss';

.button-yellow {
    width: $base * 25;
    height: $base * 8.5;
    border: none;
    cursor: pointer;
    border-radius: $base * 20;
    background-color: $color-primary;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $color-yellow-100;
    } 

    &:disabled {
        background-color: $color-gray-100;
        color: white;
    }
}