//colors
$color-white: white;
$color-black: black;

 $color-black-100: rgba(0, 0, 0, .25);
 $color-black-200: rgba(0, 0, 0, .87);

$color-primary: rgba(244,244,65,1);
$color-secondary: rgba(0,189,211,1);

$color-bg: rgba(248, 248, 248, 1);

$color-yellow-100: #FFE302;

$color-gray-100: #B4B4B4;
$color-gray-200: #D0CFCF;
$color-gray-300: #7E7E7E;

$color-red-100: #CB3D40;

//px
$base: 4px;
